/*código de animação keyframes > https://www.w3schools.com/css/css3_animations.asp*/
@keyframes myBoxAnim {
    0% {
        background-color: #0000ff;
        width: 200px;
        height: 200px;
        border-radius: 0;
    }
    30% {
        background-color: #ff29a6;
        width: 400px;
        height: 100px;
        transform: translate(300px, 300px) rotate(0deg);
        border-radius: 0;
    }
    70% {
        background-color: #ff2929;
        width: 100px;
        height: 100px;
        transform: translate(0, 0) rotate(0deg);
        border-radius: 50%;
    }
    100% {
        background-color: #29ff29;
        width: 200px;
        height: 200px;
        transform: translate(800px, 600px) rotate(360deg);
        border-radius: 0;
    }

}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    height: 800px;
    display: table;
    background-color: #f7f758;
    margin: 100px auto;

}

.quadrado {
    display: block;
    width: 200px;
    height: 200px;
    background-color: #790d79;
    transition: all 3s ease-in;
    animation: myBoxAnim 3s forwards;
}